@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: calc(min(80vw, 1200px));
	margin: auto;
}

.title {
	text-align: center;
}

@import "./ayah";
@import "./player";
@import "./modal";
